{{ define "main" }}

{{.Content}}

<div class="list-content">
    <div class="list-sidebar">
        {{ range .Site.Taxonomies.tags }}
        <p><a href="{{ .Page.Permalink }}">{{ T .Page.Title (dict "Count" 1) }}</a> ({{ .Count }})</p>
        {{ end }}
    </div>

    <div class="posts">
        {{ range (.Paginate (.Pages.ByDate.Reverse)).Pages }}
        <div class="post on-list">

            {{ if .Params.Cover }}
            <a href="{{ .Permalink }}">
                {{ partial "postcover.html" . }}
            </a>
            {{ end }}

            <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }} {{ if .Params.Date.After now}} ({{ T "WIP"}}) {{ end }}</a></h1>

            <div class="post-content">
                {{ with .Description }}
                {{ . | markdownify }}
                {{ else }}
                {{ if .Truncated }}
                {{ .Summary }}
                {{ end }}
                {{ end }}
            </div>

            {{ if .Params.tags }}
            <span class="post-tags">
            {{ range .Params.tags }}
              <a href="{{ (urlize (printf " tags/%s" . )) | absLangURL }}/">#{{ T . (dict "Count" 1) }}</a>&nbsp;
            {{ end }}
          </span>
            {{ end }}
        </div>
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>
</div>

{{ end }}
