{{ define "main" }}
{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

<div class="single-post">

    <h1 class="single-post-title">{{ .Title | markdownify }}</h1>

    {{ if .Params.Cover }}
    {{ partial "postcover.html" . }}
    {{ end }}

    <div class="post-meta">
        {{ if .Date | default nil }}
        <span class="post-date">
          {{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
        </span>
        {{ end }}
    </div>

    {{ if .Params.tags }}
    <span class="post-tags">
        {{ range .Params.tags }}
          <a href="{{ (urlize (printf " tags/%s" . )) | absLangURL }}/">#{{ . }}</a>&nbsp;
        {{ end }}
      </span>
    {{ end }}

    <div class="post-content">
        {{ if .Params.link }}
        <div class="post-link">
            <h2>{{ T "MoreInfo" }}{{ T "ColumnChar" }}
                <a href={{ .Params.Link }}>
                    {{ if .Params.LinkTitle }}
                    {{ .Params.LinkTitle }}
                    {{ else }}
                    {{ .Params.Link }}
                    {{ end }}
                </a>
            </h2>
        </div>
        {{ end }}
        {{ .Content }}
    </div>
    {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ if or .NextInSection .PrevInSection }}
    <div class="pagination">
        <div class="pagination__title">
            <span class="pagination__title-h"
            >{{ $.Site.Params.ReadOtherPosts | default "Read other posts" }}</span
            >
            <hr/>
        </div>
        <div class="pagination__buttons">
            {{ if .NextInSection }}
            <span class="button previous">
                <a href="{{ .NextInSection.Permalink }}">
                  <span class="button__icon">←</span>
                  <span class="button__text">{{ .NextInSection.Title }}</span>
                </a>
              </span>
            {{ end }}
            {{ if .PrevInSection }}
            <span class="button next">
                <a href="{{ .PrevInSection.Permalink }}">
                  <span class="button__text">{{ .PrevInSection.Title }}</span>
                  <span class="button__icon">→</span>
                </a>
              </span>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}
