<a
  href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}"
  class="logo"
  style="text-decoration: none;"
>
  {{ if $.Site.Params.Logo.path }}
    <img src="{{ $.Site.Params.Logo.path }}" alt="{{ $.Site.Params.Logo.alt }}" />
    {{ else }}
    <span class="logo__mark">{{ partial "greater-icon.html" . }}</span>
    <span class="logo__text"
      >{{ with $.Site.Params.Logo.logoText }}{{ . }}{{ else }}David Gond{{ end }}</span
    >
  {{ end }}
</a>
