<figure class="post-cover">
  {{ $data := newScratch }}
  {{ if .Params.UseRelativeCover }}
    {{ $data.Set "image" (.Resources.GetMatch .Params.Cover) }}
  {{ else }}
    {{ $data.Set "image" (resources.Get .Params.Cover) }}
  {{ end }}

  {{ $image := $data.Get "image" }}
  {{ $image := $image.Fit "315x250" }}
  <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}"
       alt="{{ .Params.CoverAlt | plainify | default .Title }}"
       {{ if .Params.CoverColor }} style="background-color:{{ .Params.CoverColor }};" {{ end }} />

  {{ if .Params.CoverCaption }}
    <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
  {{ end }}
</figure>
