.posts {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%;
}

.post {
    max-width: 315px;
}

.post-cover {
    display: block;
    margin: 0 auto;
    width: 100%;

    overflow: hidden;
}

.post-cover img {
    transition: transform .25s ease;
    height: auto;
}

.post-cover:hover img {
    transform: scale(1.2);
}

.post-title {
    font-size: 1rem;
}

.post-content {
    margin: 0;
}

.post > * {
    margin-top: 10px;
    margin-bottom: 0;
}

.single-post {
    max-width: 800px;
    text-align: left;
}

.single-post-title {
    text-align: center;
}

.list-content {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.list-sidebar {
    border-right: solid 1px;
    border-color: var(--border-color);
    padding-right: 2px;
}

/**
 * Removes hello-friend theme button max width
 */
.button {
    max-width: none;
}

#social-icons {
    margin-top: 75px;
}
